# Local .terraform directories
*/.terraform/*
*/.terraform
.terraform.lock.hcl
.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform/*
*/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*/*/terraform.tfstate

# env files
*.tfvars

# state files
*.tfstate